---
title: Index Layout
layout: main
---

<section id="image-triggering-demo" class="basic_text_wrapper--demo-header">
    <div class="basic_text_wrapper--demo-header--text">
        <h1>Demo: Image Triggering</h1>
        <p>Having images (and other elements) do <em>things</em> when they scroll into the frame is cool.</p>
    </div>
</section>


{{!-- Step 1 --}}

<section class="basic_text_wrapper--demo-text">
    <h2>Step 1: Start with ... something</h2>
</section>


<style type="text/css">
    img {
        position: relative;
    }

    img.effect1 {
        opacity: 0;
        top: 25px;
        transition: top 0.75s ease-out, opacity 0.35s ease-in;
    }

    img.effect2 {
        opacity: 0;
        transform: scale(1.25, 1.25);
        transition: transform 0.75s ease-out, opacity 0.35s ease-in;
    }

    img.effect3 {
        opacity: 0;
        left: 800px;
        transition: left 1.25s ease-out, opacity 0.75s ease-in;
    }

    img.effect4 {
        opacity: 0;
        transform: scale(0.4, 0.4);
        transition: transform 0.75s ease-out, opacity 0.35s ease-in;
    }

    img.effect5 {
        opacity: 0;
        transform: scale(0.2, 0.2);
        transition: transform 0.75s cubic-bezier(.33,.25,.43,1.81), opacity 0.35s ease-in;
    }

    img.effect6 {
        opacity: 0;
        top: 500px;
        transition: top 0.75s ease-out, opacity 0.15s ease-in;
    }

    img.effect7 {
        opacity: 0;
        top: -500px;
        transition: top 0.75s ease-out, opacity 0.15s ease-in;
    }

    img.effect8 {
        border-radius: 25%;
        width: 0;
        opacity: 0;
        margin: auto;
        height: 600px;
        object-fit: cover;
        transform: scale(1, 0.25);
        transition: border-radius 0.45s ease-in-out, width 0.55s ease-in-out, opacity 0.4s ease-out, transform 0.5s ease-in-out;
    }

    .img-effect-wrapper {
        overflow: hidden;
    }
</style>

<div class="basic_text_wrapper image-triggering-demo-wrapper">
    <h1>Image triggering demo</h1>

    <h2>Effect 1</h2>

    <p>Corrupti occaecati atque nam. Repudiandae dignissimos veritatis natus odio. Ea totam quia quasi corrupti iste. Maiores aut reprehenderit quod vel est autem officiis et. Atque est aspernatur officia necessitatibus voluptatem inventore ea ab. Temporibus rem excepturi autem.</p>

    <img class="effect1" src="/images/it-demo/a.jpg" alt="">

    <h2>Effect 2</h2>

    <p>Corrupti occaecati atque nam. Repudiandae dignissimos veritatis natus odio. Ea totam quia quasi corrupti iste. Maiores aut reprehenderit quod vel est autem officiis et. Atque est aspernatur officia necessitatibus voluptatem inventore ea ab. Temporibus rem excepturi autem.</p>

    <img class="effect2" src="/images/it-demo/b.jpg" alt="">

    <h2>Effect 2 (Overflow wrapper)</h2>

    <p>Corrupti occaecati atque nam. Repudiandae dignissimos veritatis natus odio. Ea totam quia quasi corrupti iste. Maiores aut reprehenderit quod vel est autem officiis et. Atque est aspernatur officia necessitatibus voluptatem inventore ea ab. Temporibus rem excepturi autem.</p>

    <div class="img-effect-wrapper">
        <img class="effect2" src="/images/it-demo/b.jpg" alt="">
    </div>

    <h2>Effect 3 (Overflow wrapper)</h2>

    <p>Corrupti occaecati atque nam. Repudiandae dignissimos veritatis natus odio. Ea totam quia quasi corrupti iste. Maiores aut reprehenderit quod vel est autem officiis et. Atque est aspernatur officia necessitatibus voluptatem inventore ea ab. Temporibus rem excepturi autem.</p>

    <div class="img-effect-wrapper">
        <img class="effect3" src="/images/it-demo/c.jpg" alt="">
    </div>

    <h2>Effect 4</h2>

    <p>Corrupti occaecati atque nam. Repudiandae dignissimos veritatis natus odio. Ea totam quia quasi corrupti iste. Maiores aut reprehenderit quod vel est autem officiis et. Atque est aspernatur officia necessitatibus voluptatem inventore ea ab. Temporibus rem excepturi autem.</p>

    <img class="effect4" src="/images/it-demo/d.jpg" alt="">

    <h2>Effect 5</h2>

    <p>Corrupti occaecati atque nam. Repudiandae dignissimos veritatis natus odio. Ea totam quia quasi corrupti iste. Maiores aut reprehenderit quod vel est autem officiis et. Atque est aspernatur officia necessitatibus voluptatem inventore ea ab. Temporibus rem excepturi autem.</p>

    <img class="effect5" src="/images/it-demo/e.jpg" alt="">

    <h2>Effect 5 (Overflow wrapper)</h2>

    <p>Corrupti occaecati atque nam. Repudiandae dignissimos veritatis natus odio. Ea totam quia quasi corrupti iste. Maiores aut reprehenderit quod vel est autem officiis et. Atque est aspernatur officia necessitatibus voluptatem inventore ea ab. Temporibus rem excepturi autem.</p>

    <div class="img-effect-wrapper">
        <img class="effect5" src="/images/it-demo/e.jpg" alt="">
    </div>

    <h2>Effect 6 (Overflow wrapper)</h2>

    <p>Corrupti occaecati atque nam. Repudiandae dignissimos veritatis natus odio. Ea totam quia quasi corrupti iste. Maiores aut reprehenderit quod vel est autem officiis et. Atque est aspernatur officia necessitatibus voluptatem inventore ea ab. Temporibus rem excepturi autem.</p>

    <div class="img-effect-wrapper">
        <img class="effect6" src="/images/it-demo/f.jpg" alt="">
    </div>

    <h2>Effect 7 (Overflow wrapper)</h2>

    <p>Corrupti occaecati atque nam. Repudiandae dignissimos veritatis natus odio. Ea totam quia quasi corrupti iste. Maiores aut reprehenderit quod vel est autem officiis et. Atque est aspernatur officia necessitatibus voluptatem inventore ea ab. Temporibus rem excepturi autem.</p>

    <div class="img-effect-wrapper">
        <img class="effect7" src="/images/it-demo/g.jpg" alt="">
    </div>

    <h2>Effect 8</h2>

    <p>Corrupti occaecati atque nam. Repudiandae dignissimos veritatis natus odio. Ea totam quia quasi corrupti iste. Maiores aut reprehenderit quod vel est autem officiis et. Atque est aspernatur officia necessitatibus voluptatem inventore ea ab. Temporibus rem excepturi autem.</p>

    <img class="effect8" src="/images/it-demo/a.jpg" alt="">


    <p>Corrupti occaecati atque nam. Repudiandae dignissimos veritatis natus odio. Ea totam quia quasi corrupti iste. Maiores aut reprehenderit quod vel est autem officiis et. Atque est aspernatur officia necessitatibus voluptatem inventore ea ab. Temporibus rem excepturi autem.</p>

    <p>Corrupti occaecati atque nam. Repudiandae dignissimos veritatis natus odio. Ea totam quia quasi corrupti iste. Maiores aut reprehenderit quod vel est autem officiis et. Atque est aspernatur officia necessitatibus voluptatem inventore ea ab. Temporibus rem excepturi autem.</p>

    <p>Corrupti occaecati atque nam. Repudiandae dignissimos veritatis natus odio. Ea totam quia quasi corrupti iste. Maiores aut reprehenderit quod vel est autem officiis et. Atque est aspernatur officia necessitatibus voluptatem inventore ea ab. Temporibus rem excepturi autem.</p>

    <p>Corrupti occaecati atque nam. Repudiandae dignissimos veritatis natus odio. Ea totam quia quasi corrupti iste. Maiores aut reprehenderit quod vel est autem officiis et. Atque est aspernatur officia necessitatibus voluptatem inventore ea ab. Temporibus rem excepturi autem.</p>

    <p>Corrupti occaecati atque nam. Repudiandae dignissimos veritatis natus odio. Ea totam quia quasi corrupti iste. Maiores aut reprehenderit quod vel est autem officiis et. Atque est aspernatur officia necessitatibus voluptatem inventore ea ab. Temporibus rem excepturi autem.</p>

    <p>Corrupti occaecati atque nam. Repudiandae dignissimos veritatis natus odio. Ea totam quia quasi corrupti iste. Maiores aut reprehenderit quod vel est autem officiis et. Atque est aspernatur officia necessitatibus voluptatem inventore ea ab. Temporibus rem excepturi autem.</p>

    <p>Corrupti occaecati atque nam. Repudiandae dignissimos veritatis natus odio. Ea totam quia quasi corrupti iste. Maiores aut reprehenderit quod vel est autem officiis et. Atque est aspernatur officia necessitatibus voluptatem inventore ea ab. Temporibus rem excepturi autem.</p>

    <p>Corrupti occaecati atque nam. Repudiandae dignissimos veritatis natus odio. Ea totam quia quasi corrupti iste. Maiores aut reprehenderit quod vel est autem officiis et. Atque est aspernatur officia necessitatibus voluptatem inventore ea ab. Temporibus rem excepturi autem.</p>

    <p>Corrupti occaecati atque nam. Repudiandae dignissimos veritatis natus odio. Ea totam quia quasi corrupti iste. Maiores aut reprehenderit quod vel est autem officiis et. Atque est aspernatur officia necessitatibus voluptatem inventore ea ab. Temporibus rem excepturi autem.</p>
</div>


<script type="text/javascript">
    // Get all our images
    let imagesEffect1 = document.querySelectorAll("img.effect1");
    let imagesEffect2 = document.querySelectorAll("img.effect2");
    let imagesEffect3 = document.querySelectorAll("img.effect3");
    let imagesEffect4 = document.querySelectorAll("img.effect4");
    let imagesEffect5 = document.querySelectorAll("img.effect5");
    let imagesEffect6 = document.querySelectorAll("img.effect6");
    let imagesEffect7 = document.querySelectorAll("img.effect7");
    let imagesEffect8 = document.querySelectorAll("img.effect8");

    function visibilityChecks(results) {
        let isItVisible = (results.top > 0 && results.top < window.innerHeight) ||
                (results.bottom > 0 && results.bottom < window.innerHeight);
        let isItCompletelyVisible = results.top > 0 && results.bottom < window.innerHeight;
        let isItBleeding = isItVisible && (results.bottom > window.innerHeight || results.top < 0);

        return {
            'isItVisible': isItVisible,
            'isItCompletelyVisible': isItCompletelyVisible,
            'isItBleeding': isItBleeding
        }
    }

    document.addEventListener('scroll', function () {
        // Effect 1
        imagesEffect1.forEach(function (el) {
            let results = el.getBoundingClientRect();

            // Visibility checks
            let checks = visibilityChecks(results);

            el.style.top = (checks.isItCompletelyVisible) ? "0px" : null;
            el.style.opacity = (checks.isItCompletelyVisible) ? "1" : null;
        });

        // Effect 2
        imagesEffect2.forEach(function (el) {
            let results = el.getBoundingClientRect();

            // Visibility checks
            let checks = visibilityChecks(results);

            el.style.transform = (checks.isItCompletelyVisible) ? "scale(1, 1)" : null;
            el.style.opacity = (checks.isItCompletelyVisible) ? "1" : null;
        });

        // Effect 3
        imagesEffect3.forEach(function (el) {
            let results = el.getBoundingClientRect();

            // Visibility checks
            let checks = visibilityChecks(results);

            el.style.left = (checks.isItCompletelyVisible) ? "0px" : null;
            el.style.opacity = (checks.isItCompletelyVisible) ? "1" : null;
        });

        // Effect 4
        imagesEffect4.forEach(function (el) {
            let results = el.getBoundingClientRect();

            // Visibility checks
            let checks = visibilityChecks(results);

            el.style.transform = (checks.isItCompletelyVisible) ? "scale(1, 1)" : null;
            el.style.opacity = (checks.isItCompletelyVisible) ? "1" : null;
        });

        // Effect 5
        imagesEffect5.forEach(function (el) {
            let results = el.getBoundingClientRect();

            // Visibility checks
            let checks = visibilityChecks(results);

            el.style.transform = (checks.isItCompletelyVisible) ? "scale(1, 1)" : null;
            el.style.opacity = (checks.isItCompletelyVisible) ? "1" : null;
        });

        // Effect 6
        imagesEffect6.forEach(function (el) {
            let results = el.parentElement.getBoundingClientRect();

            // Visibility checks
            let checks = visibilityChecks(results);

            el.style.top = (checks.isItCompletelyVisible) ? "0px" : null;
            el.style.opacity = (checks.isItCompletelyVisible) ? "1" : null;
        });

        // Effect 7
        imagesEffect7.forEach(function (el) {
            let results = el.parentElement.getBoundingClientRect();

            // Visibility checks
            let checks = visibilityChecks(results);

            el.style.top = (checks.isItCompletelyVisible) ? "0px" : null;
            el.style.opacity = (checks.isItCompletelyVisible) ? "1" : null;
        });

        // Effect 8
        imagesEffect8.forEach(function (el) {
            let results = el.getBoundingClientRect();

            // Visibility checks
            let checks = visibilityChecks(results);

            el.style.borderRadius = (checks.isItCompletelyVisible) ? "0%" : null;
            el.style.width = (checks.isItCompletelyVisible) ? "100%" : null;
            el.style.opacity = (checks.isItCompletelyVisible) ? "1" : null;
            el.style.transform = (checks.isItCompletelyVisible) ? "scale(1, 1)" : null;
        });
    });


    // let readout = document.querySelector('#test-block-readout-results');
    //
    // document.addEventListener('scroll', function() {
    //     let results = document.querySelector('.test-block').getBoundingClientRect();
    //     readout.innerHTML = `
    //         top: ${results.top} <br />
    //         left: ${results.left}<br />
    //         right: ${results.right} <br />
    //         bottom: ${results.bottom} <br />
    //         height: ${results.height} <br />
    //         width: ${results.width}
    //     `;
    //
    //     // Fun facts
    //     let isItVisible = (results.top > 0 && results.top < window.innerHeight) ||
    //             (results.bottom > 0 && results.bottom < window.innerHeight);
    //     let isItCompletelyVisible = results.top > 0 && results.bottom < window.innerHeight;
    //     let isItBleeding = isItVisible && (results.bottom > window.innerHeight || results.top < 0);
    //
    //     let visibility = document.querySelector('#visible');
    //     visibility.innerHTML = (isItVisible ? 'Visible' : '') +
    //             (isItCompletelyVisible ? ' (completely so) ' : '') +
    //             (isItBleeding ? ', bleeding' : '');
    //
    //     let testBlock = document.querySelector('.test-block');
    //     testBlock.style.left = (isItCompletelyVisible) ? "0px" : null;
    //     testBlock.style.top = (isItCompletelyVisible) ? "0px" : null;
    //     testBlock.style.opacity = (isItCompletelyVisible) ? "1" : null;
    //     testBlock.style.transform = (isItCompletelyVisible) ? "rotate(0)" : null;
    //
    // });
</script>
